.div_contenedor{
    height: 100vh;       
}
.div_centrado{
    width: 50%;       
    height: AUTO;
    position: absolute;
    top:40%;
    left: 25%;           
    margin-top: -100px;
    margin-left: -100px;
}